body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

input {
    width: 50%;
}

.counter-container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#baby-genetics {
    font-size: 4rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

#mother-input {
    font-size: 4rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

#father-input {
    font-size: 4rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#generate-btn {
    background-color: #007bff;
    color: white;
}

#reset-btn {
    background-color: #dc3545;
    color: white;
}
